{% extends "base_generic.html" %}

{% block content %}
<h2>Мои заявки</h2>

<a href="{% url 'request_create' %}">Создать новую заявку</a>
<form method="get">
    <label>Фильтр по статусу:</label>
    <select name="status">
        <option value="">Все</option>
        <option value="new" {% if status_filter == 'new' %}selected{% endif %}>Новая</option>
        <option value="in_progress" {% if status_filter == 'in_progress' %}selected{% endif %}>Принято в работу</option>
        <option value="completed" {% if status_filter == 'completed' %}selected{% endif %}>Выполнено</option>
    </select>
    <button type="submit">Применить</button>
</form>
{% if requests %}
    <ul>
    {% for req in requests %}
        <li>
            <strong>{{ req.title }}</strong> — {{ req.get_status_display }} 
            ({{ req.created_at|date:"d.m.Y" }})
            {% if req.attachment %}
                | <a href="{% url 'request_detail' req.id %}">Просмотр</a>
            {% endif %}
            | <a href="{% url 'request_delete' req.pk %}">Удалить</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>У вас пока нет заявок.</p>
{% endif %}
{% endblock %}